@mixin icon($icon, $font-size: 1em) {
    content: $icon;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-size: $font-size;
}
