.user-gist-result {
    padding: 0 10px;

    .result {
        background: white;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .gist {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #ccc;

            &.selected {
                background: #ccc;
            }

            h1 {
                font-size: 24px;
                margin-top: 0;
            }

            h3 {
                color: #333;
                font-size: 18px;
                background: #ddd;
                display: inline-block;
                margin: 0 5px 0 0;
                padding: 5px 10px;
                border-radius: 5px;
            }

            .options {
                position: absolute;
                right: 10px;
                top: 10px;

                i {
                    margin-left: 15px;
                    cursor: pointer;
                }
            }

            .access {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}
